.experience {
    width: 90%;
    margin: 0 auto;
}

.title__experience {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 15px 0;
}

.experience__container > div {
    background-color: #1b1b1b;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.experience__card {
    
}

.experience__card > .content__title {
    display: flex;
    justify-content: space-between;
}

.ecommerce {
    background-color: #EC6A52;
    padding: 5px 10px;
    border-radius: 5px;
}

.crm {
    background-color: #F8B042;
    padding: 5px 10px;
    border-radius: 5px;
}

.app {
    background-color: #93AEC1;
    padding: 5px 10px;
    border-radius: 5px;
}

.type {
    font-weight: 600;
}

.btns__card_container {
    display: flex;
    justify-content: space-between;
}

.btn__card {
    padding: 10px;
    background-color: #F8B042;
    color: var(--color-text);
    border: none;
    text-decoration: none;
    border-radius: 5px;
}

.technologies___card_container {
    display: flex;
    justify-content: space-between;
}

.experience__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 20px;
}

@media screen and (max-width: 768px) {
    .experience__container {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
    }
}