.tools {
    width: 90%;
    margin: 0 auto;
}


.tools__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 40px;
}

.tools__container> div {
    display: flex;
    justify-content: center;
}