

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .title__briefcase {
    font-size: 2.3rem;
    font-weight: 600;
    padding: 0 20px;
    margin: 15px 0;
  }

  .briefcase__card {
    height: 300px;
    width: 100%;
    padding: 0 20px 40px 20px;

  }

  .briefcase__card_container {
   
  }

  .ecommerce-01 {
    height: 100%;
    background-image: url('../../assets//commerce.png');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
  }
  
  .cms-01 {
    height: 100%;
    background-image: url('../../assets/briefcase/cms-01.png');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
  }

  .swiper-pagination-bullet {
    background-color: #ffffff;
  }
  