/*================Start of Main===================*/

.main {

}

.about__company {
  width: 90%;
  margin: 0 auto;
  padding: 150px 0;
}

.container__about-company {
  width: 60%;
  height: 200px;
  margin: 0 auto;
  
}

.container__bout-company > div {
  display: flex;
}

.container__bout-company > div .uxui {
  margin-left: 10px;
}


.about__company_text h2 {
  font-size: 2.5rem;
}

.title__hero {
  background-color: #ebbe7b33;
  padding: 5px;
  color: var(--color-yellow);
  border-radius: 5px;
  font-weight: 600;
}
  

@media screen and (max-width: 768px) {
  .container__About-company {
      width: 80%;
      height: 300px;
      margin: 0 auto;
  
  }

}
