/*================Start of Main===================*/

.main {

}

.about__company {
  width: 90%;
  margin: 0 auto;
  padding: 150px 0;
}

.container__about-company {
  width: 60%;
  height: 200px;
  margin: 0 auto;
  
}

.container__bout-company > div {
  display: flex;
}

.container__bout-company > div .uxui {
  margin-left: 10px;
}


.about__company_text h2 {
  font-size: 2.5rem;
}

.title__hero {
  background-color: #ebbe7b33;
  padding: 5px;
  color: var(--color-yellow);
  border-radius: 5px;
  font-weight: 600;
  margin: 0;
}




.quantum__computing {
  width: 90%;
  margin: 0 auto;
  padding: 150px 0;
}

.quantum__computing_text {
  margin: 0 auto;
  
}

.container__quantum-computing_text > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

}

.container__quantum-computing_text > div .uxui {
  margin-left: 10px;
}


.quantum__computing_text h2 {
  font-size: 2.5rem;
}





.education {
  width: 90%;
  margin: 0 auto;

}

.container__education {
  margin: 0 auto;
}

.container__education > div {

}

.container__education .title-ut {
  background-color: #00614a;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
}


.container__education .text-ut {
  /* background-color: #00614a34;
  border-radius: 5px;
  padding: 10px;
  color: #00614a; */
  margin-right: 10px;
}

.container__education .account {
  display: flex;
}


.container__education .title-utel {
  background-color: #047806;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
}

.container__education .button-title-account {
  border: none;
  background: transparent;
  color: #ffffff;
  border: 2px solid #00614a;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.education_text h2 {
  font-size: 2.5rem;
}


.education__additional {

  }


  

@media screen and (max-width: 768px) {
  .container__About-company {
      width: 80%;
      height: 300px;
      margin: 0 auto;
  
  }

  .container__quantum-computing_text > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  
  }
  

}
