/*================Start of Main===================*/

.main {

  }
  
  .about__company {
    width: 90%;
    margin: 0 auto;
    padding: 150px 0;
  }
  
  .container__about-company {
    width: 60%;
    height: 200px;
    margin: 0 auto;
    
  }
  
  .about__company_text h2 {
    font-size: 2.5rem;
  }
  
  .title__hero {
    color: var(--color-yellow);
    font-size: 1.3rem;
    font-weight: 600;
  }
/*   
  .container__bout-company > .content {
    text-align: justify;
  }
   */
  
   .additional {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   }

   .additional > p {
    margin: 5px 0
   }

   .additional > .volunteering {
    border: 2px solid #F8B042;
    padding: 5px 10px;
    border-radius: 5px;
    color: #F8B042;
   }

   
   .additional > .recognitions {
    border: 2px solid #EC6A52;
    padding: 5px 10px;
    border-radius: 5px;
    color: #EC6A52;
  
   }




  @media screen and (max-width: 768px) {
    .container__About-company {
        width: 80%;
        height: 300px;
        margin: 0 auto;
    
    }

}
