/*================Start Layout===================*/


.container__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  background-color: var(--color-black);

  height: 90vh;
}

.left__container {
  display: flex;
  width: 80%;
  height: 90%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.left__content {}


.left__content h1 {
  font-size: 3rem;
  font-weight: 700;
}


.left__content h3 {
  font-weight: 200;
  font-size: 1.25rem;
  margin: 20px 0;
}

.left__content .icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 20px;
  /* Espaciado entre los elementos */
  margin: 40px 0;
}


.left__content .icons>div {
  margin: 5px 20px;
}

.left__content .icons>a>svg {
  fill: #ffffff;
  width: 28px;
}

.btns__container_hero {
  display: flex;
  width: 80%;
  justify-content: space-between;

}

.profile-photo__conatiner_left {
  display: none;
}

.profile-photo__conatiner_left .profile-photo-left {
  border-radius: 20px;
  border: 4px solid white;
}

.cta_one {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--color-yellow);

}

.cta_two {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
}

.cta_one:hover {
  box-shadow: 0 0 5px #ffb340,
    0 0 25px #ffb340,
    0 0 50px #ffb340,
    0 0 100px #ffb340;
}

.cta_two:hover {
  background: #fff;
  color: #000;
  box-shadow: 0 0 5px #fff,
    0 0 25px #fff,
    0 0 50px #fff,
    0 0 100px #fff;
}







.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.background__layout {
  display: flex;
  justify-content: center;
  position: relative;
  width: 500px;
  height: 500px;
  align-items: center;

}

/* Foto de perfil centrada */
.profile-photo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 4px solid white;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 10;
}




@media screen and (max-width: 768px) {

  .profile-photo__conatiner_left {
    display: block;
  }

  .container__main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .right {
    display: none;
  }

  .background__layout {
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
    width: 90%;
    align-items: center;
    transform: scale(.7);
  }



  .left {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .left__container {
    width: 90%;
    height: 90%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }



  /* .right {
    display: none;
  } */

  .left__content h1 {
    font-size: 3rem;
  }

  .left__content h3 {
    font-size: 1rem;
  }

  .btns__container_hero {
    width: 100%;
  }

}