:root {

  --color-black: #0e0e0e;
  --color-white: #f5f6f7c7;
  --color-fuchsia: #FF00E6;
  --color-lime-green: #d2fc51;
  --color-blue: #0505d0;
  --color-yellow: #ffb340;
  --color-text: #f0f0f0;
    /* #ffb340 */
}


*,
*::after,
*::before {
box-sizing: inherit;
}


html {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;

}

body {
  margin: 0;
  background-color: var(--color-black);
  color: var(--color-text);
  
}

a {
  color: var(--color-white);
  transition: all 0.5s ease-out;
}

/* a:hover {
  opacity: 0.75;
} */

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

button {
  font-family: 'Poppins', sans-serif;
}

body {
  max-width: 1500px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;

  
}




